<a href="https://colab.research.google.com/github/Srikanth-Bhogi1999/MySQL-Tutor/blob/main/Notebook1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**INTRODUCTION TO STATISTICS**

---
**Target roles**: Data Scientist, Data Analyst, Data Engineer

# Data Set Info 

Dataset Info - This DataSet includes the real time gold prices(in USD) from 2012 to 2022.

Date - Date on which Price is Noted
Close - Close Price of the Gold in USD
Volume - Sum of buy's and sell's of Gold Commodity
open - open price of a Gold on that particular day
High - High price of Gold on that particular day
Low - Low price of Gold on that particular day

In [ ]:
# import pandas module 
import pandas as pd 

# making dataframe this method reads comma separated values and generate dataframe from it
df1 = pd.read_csv("/GoldPrices.csv")
print(df1) 
print(df1.describe())

            Date  Close/Last    Volume    Open    High     Low
0     10/28/2022      1648.3  186519.0  1667.2  1670.9  1640.7
1     10/27/2022      1668.8  180599.0  1668.8  1674.8  1658.5
2     10/26/2022      1669.2  183453.0  1657.7  1679.4  1653.8
3     10/25/2022      1658.0  178706.0  1654.5  1666.8  1641.2
4     10/24/2022      1654.1  167448.0  1662.9  1675.5  1648.0
...          ...         ...       ...     ...     ...     ...
2542  11/06/2012      1715.0  163585.0  1685.4  1720.9  1683.5
2543  11/05/2012      1683.2  109647.0  1676.7  1686.2  1672.5
2544  11/02/2012      1675.2  205777.0  1715.6  1717.2  1674.8
2545  11/01/2012      1715.5  105904.0  1720.4  1727.5  1715.1
2546  10/31/2012      1719.1  110928.0  1710.3  1726.6  1709.8

[2547 rows x 6 columns]
        Close/Last         Volume         Open         High          Low
count  2547.000000    2508.000000  2547.000000  2547.000000  2547.000000
mean   1437.557008  182067.668660  1437.743031  1447.083235  1427.891991
std     255.898467   97589.342619   256.239938   257.924158   253.641116
min    1049.600000       1.000000  1051.500000  1062.700000  1045.400000
25%    1243.450000  120901.000000  1243.000000  1251.000000  1235.250000
50%    1318.500000  168425.500000  1319.000000  1326.300000  1310.900000
75%    1698.100000  231754.000000  1701.450000  1715.300000  1684.000000
max    2069.400000  787217.000000  2076.400000  2082.100000  2049.000000

# Statistics

**What is STATISTICS?**
It is the science of collecting, organising and analyzing data. Mostly used for decision making

**What is DATA?**

data can be an evidence of an event that is happened or we can say the facts that can be measured
You have seen the dataset of gold prices

TYPES of statistics - 
1. Descriptive Statistics
2. Inferential Statistics

# Descriptrive Statistics

Descriptive statistics are all about organising and summarising the data.
for example,
Age of 5 people data-{30,27,65,48,56}
so descriptive statistics for this can be like "What is the average age of the people?"
Lets get into the our dataset, here it is already organised into columns. Applying descriptive statistics for this will be like

In [ ]:
# what is average volume of gold transactions a day?
print("The Average volume of Gold sold and bought a day is ",df1["Volume"].mean(),"units")

# How many days the close price of the gold was below than the average close price 
resdf=df1[df1['Close/Last'] < df1["Close/Last"].mean()] 
print("The count of days where the closing price of gold is lower than average for that day is ",resdf["Close/Last"].count(),"Days")

# Inferential Statistics
Technique where in we use the data that we have measured to form conclusions. We don't consider the whole data(population), we use some chosen data(sample) to deduct conclusion. 

**Population** is the jargon used in statistics to represent the whole dataset/data, denoted by (N)
age of people in a vizag(N)-{23,43,56,25,..}

**Sample** is the jargon used in statistics, which is a part of population, the sample can be derived in multiple ways called sampling techniques which is discussed later, sample is denoted by (n)
age of people in a vizag(N)-{23,43,56,25,..}
age of employees in vizag(n)-{23,43,40.....}

![PopulationvsSample.jpg]()

The process of choosing sample from a population is called sampling technique. Different sampling techniques are used for different problem statements.

In [ ]:
# Does the avg volume of gold purchases in 10th month similar to average volume of gold purchases ? 
# here the sample is data belong to 10th month, and the technique is called stratified sampling technique 
resdf=df1[(df1['Date']>="10/01/2022") & (df1['Date']>="10/31/2022")]
davg=df1["Volume"].mean()
ravg=resdf["Volume"].mean()
if(ravg<davg):
  print("The average volume of gold purchases in 10th month is ",round(davg-ravg,2),"units lower than average volume of gold purchases")
elif(ravg>davg):
  print("The average volume of gold purchases in 10th month is ",abs(round(davg-ravg,2)),"units greater than average volume of gold purchases")
else:
  print("The Averages are same!")

The average volume of gold purchases in 10th month is  17154.74 units lower than average volume of gold purchases

# Sampling Techniques

**Simple Random Sampling**

This is just deriving a sample from the population randomly, everyone in the population has equal chance to get picked.

In [ ]:
sample_df=df1.sample(n=800) # count of rows that need to be picked
print(sample_df)

# Here the sample_df is the data that is extracted randomly from our dataset df1, sample() is the function which is capable to do so 
print("\n\n\nThe average open cost of gold in the sample derived is ",round(sample_df["Open"].mean(),3))
print("Where as the dataset's average open cost of gold is ",round(df1["Open"].mean(),3))

**Stratified Sampling**

The word stratified mean layering or grouping, here in the stratified sampling the population is split into some non-overlapping groups for example a data of class students can be grouped into boys and girls, so these are 2 samples here. 

We have seen stratified sampling in inferential statistics example

In [ ]:
# Does the avg volume of gold purchases in 10th month similar to average volume of gold purchases ? 
# here the sample is data belong to 10th month, and the technique is called stratified sampling technique 
resdf=df1[(df1['Date']>="10/01/2022") & (df1['Date']>="10/31/2022")] #sample is deriving here
davg=df1["Volume"].mean()
ravg=resdf["Volume"].mean()
if(ravg<davg):
  print("The average volume of gold purchases in 10th month is ",round(davg-ravg,2),"units lower than average volume of gold purchases")
elif(ravg>davg):
  print("The average volume of gold purchases in 10th month is ",abs(round(davg-ravg,2)),"units greater than average volume of gold purchases")
else:
  print("The Averages are same!")

**Systematic Sampling**

Here, every nth one is picked, for example there is data of 100 rows suppose the n is 5, then 5th, 10th, 15th ..100th ones are picked and form a sample.

In [ ]:
index = [] 
for i in range(1,len(df1)+1): # adding index value so as to get the nth row from whole set
  index.append(i)
df1["index"]=index
nth=113

sample_df=df1.loc[df1.index%nth == 0,:]
print(sample_df)

# What is the highest Gold rate in the sample data?
print("\n\n\nThe highest Gold rate in the sample data is ",sample_df["High"].max())

**Convenience Sampling**

Here we pick and form a sample by a condition, for example, we have to survey on a topic related to data so here the sample will be the people who has expertise in the subject.

In [ ]:
#The shop owner's lucky number is 7, so he wants to know how the price rate ends when the price rate started with a number divisible  by 7
# The sample derived will be 
sample_df=df1.loc[df1.Open % 7 == 0,:]
print(sample_df)

print("\nThe Average closing price of gold when started with a price divisible by 7 is ",round(sample_df["Close/Last"].mean(),2))

# Variables, it's types, it's measurement scales

**VARIABLES**

Variable os a property that can take on any value.
ex: Height

**TYPES of variables**:
 1.Quantitative Variables
 2.Qualitative Variables/Categorical variables
    
**Quantitative Variables**

These are the variables that can be measured, like age, marks etc, we can perform mathematical operations like Add, Subtract, Multiplication etc

There are again 2 types in Quantitative Variables:    
**1.Discrete Variables**
In discrete variables, the value will be a whole number for example, how many pair of shoes you have? The answer for this is always whole number like i have 1 pair of shoes, i have 3 pairs of shoes etc.

**2.Continuous Variables**
The continuous variables can have any value like height weight etc, the height of a person can be 173.34 cm, 5.8 ft  etc
    
**Qualitative variables:**
The qualitative variable or categorical variables have set of options which can be the values for example, Gender, Marital Status etc.



**VARIABLE MEASUREMENT SCALES:**
There are 4 measured scales
    1.Nominal
    2.Ordinal
    3.Interval
    4.Ratio
    
**Nominal:**
Nominal measuremnt is a categorical/qualitative measurement, example variables for this are gender, Blood Group ,colour etc, we cannot calculate mean, mode etc for nominal variables, however nominal data can be given a frequency

**Ordinal:**
The variables like rank, satisfaction, rating etc which have a difference comparitively, ordinal data also a frequency
Ex.
Marks : 90 87 70 96
Rank  : 2  3  4  1
Here rank is said to be ordinal data

**Interval & Ratio**
Interval scales hold no true zero and can represent values below zero. For example, you can measure temperature below 0 degrees Celsius, such as -10 degrees.

Ratio variables, on the other hand, never fall below zero. Height and weight measure from 0 and above, but never fall below it.
An interval scale allows you to measure all quantitative attributes. Any measurement of interval scale can be ranked, counted, subtracted, or added, and equal intervals separate each number on the scale. However, these measurements don’t provide any sense of ratio between one another.

A ratio scale has the same properties as interval scales. You can use it to add, subtract, or count measurements. Ratio scales differ by having a character of origin, which is the starting or zero-point of the scale.

# Frequency Distribution

**FREQUENCY DISTRIBUTION** is a technique that used to represent a 


data so as to get the frequency of it for example, take a sample data
N={1,4,2,3,5,1,2,3,1,2,3,1,5}

The Frequency distribution for this would be

Number   : 1 2 3 4 5

Frequency: 4 3 3 1 2 

Total: 13

In [ ]:
#Frequency of Volume column in this dataset will be

res_df=df1["Volume"].value_counts()
print("Value\tFrequency")
print(res_df)
print("\n\n\n")
#Cumulative Frequency for the same 
df1['Cumulative_Frequency_Volume'] = df1['Volume'].cumsum()
print(df1[["Volume","Cumulative_Frequency_Volume"]])

Value	Frequency
1.0         4
6.0         3
210181.0    2
5260.0      2
135811.0    2
           ..
511767.0    1
320720.0    1
364839.0    1
230833.0    1
110928.0    1
Name: Volume, Length: 2484, dtype: int64




        Volume  Cumulative_Frequency_Volume
0     186519.0                     186519.0
1     180599.0                     367118.0
2     183453.0                     550571.0
3     178706.0                     729277.0
4     167448.0                     896725.0
...        ...                          ...
2542  163585.0                  456093457.0
2543  109647.0                  456203104.0
2544  205777.0                  456408881.0
2545  105904.0                  456514785.0
2546  110928.0                  456625713.0

[2547 rows x 2 columns]